@import '../components/variables';

html,body {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  &:hover,&:active,&:focus {
    outline: none;
    webkit-tap-highlight-color: transparent;
  }
}

#__next {
  @include d-flex-col;
  height: 100%;
}

.download {
  h3 {
    margin: 0 0 30px 0;
  }
  margin: 15px 0;
  border: 1px solid $grey;
  border-radius: 5px;
  @include d-flex-col;
  padding: 15px;
  box-shadow: 0 2px 4px $grey;
}

.home {
  height: 100%;
  padding: 25px 10px;
  h2 {
    text-align: center;
    font-family: $font-cinzel;
  }
  .card {
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid $grey;
    box-shadow: 0 2px 5px $grey;
    padding: 10px;
    cursor: pointer;
    background-color: lighten($white,5%);
    h3 {
      text-align: center;
      color: $orange;
      font-family: $font-mate-sc;
    }
    p {
      font-size: 15px;
      font-family: $font-roboto;
      color: $black;
    }
    &:hover {
      border-color: $blue;
      background: radial-gradient(
        at top left,
        hsl(240,100%,100%),
        hsl(240,100%,95%)
      );
      box-shadow: 0 2px 5px lighten($blue,10%);
    }
  }
}